# Python virtual environment
vllm-env/
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Logs
*.log

# Environment variables
.env

# OS specific
.DS_Store
Thumbs.db

# IDE specific files
.idea/
.vscode/
*.swp
*.swo